body {
  background-color: #001a00;
}

.sidebar{
  float: left;
  background-color: darkslategray;
  color: white;
  width: 25%;
}

.content{
  float: right;
  background-color: darkseagreen;
  width: auto;
}

.header{
  width: auto;
  height: 1.5em;
  height: 2em;
  background-color: darkolivegreen;
}

.footer{
  float: none;
  width: 100%;
  height: 2em;
  background-color: darkolivegreen;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

.floatright{
  float: right;
}

.floatleft{
  float: left;
}
